In [1]:
import pandas as pd
import os

In [2]:
vmh_folder = '/path/to/vmh/data/folder/'

reactions_file_path = os.path.join(vmh_folder, "vmh_reactions.csv")
gene_reactions_file_path = os.path.join(vmh_folder, "vmh_genereactions_all.csv")

In [3]:
reactions = pd.read_csv(reactions_file_path)
gene_reactions = pd.read_csv(gene_reactions_file_path)

In [4]:
gene_reactions

,Unnamed: 0,rxn_id,createdDate,updatedDate,abbreviation,description,formula,reversible,mcs,csecoida,...,reconMap,reconMap3,organellemap,wikipedia,chodb_id,subsystem,massbalance,isHuman,isMicrobe,searched_gene_number
0,0,13,2018-05-31T16:06:56.524774Z,2019-01-29T10:16:05.731384Z,13DAMPPOX,"1, 3-Diaminopropane:Oxygen Oxidoreductase (Dea...",13dampp[c] + h2o[c] + o2[c] -> bamppald[c] + h...,0,1.0,3A0000212,...,NaN,R_13DAMPPOX,NaN,NaN,13DAMPPOX,Beta-Alanine metabolism,1,True,True,8639.1
1,1,89,2018-05-31T16:06:56.524774Z,2019-01-29T10:16:31.915187Z,42A12BOOX,"4- (2-Aminoethyl)-1, 2-Benzenediol:Oxygen Oxid...",dopa[c] + h2o[c] + o2[c] -> 34dhpac[c] + h2o2[...,0,4.0,3A0000269,...,NaN,R_42A12BOOX,NaN,NaN,42A12BOOX,Tyrosine metabolism,1,True,True,8639.1
2,2,145,2018-05-31T16:06:56.524774Z,2019-01-29T10:16:41.359882Z,AACTOOR,Aminoacetone:Oxygen Oxidoreductase (Deaminatin...,aact[c] + h2o[c] + o2[c] -> h2o2[c] + mthgxl[c...,0,4.0,3A0000269,...,AACTOOR,R_AACTOOR,NaN,NaN,AACTOOR,"Glycine, serine, alanine, and threonine metabo...",1,True,True,8639.1
3,3,2481,2018-05-31T16:06:56.524774Z,2019-01-29T10:20:47.399040Z,MAOX,Methylamine Oxidase,h2o[c] + mma[c] + o2[c] -> fald[c] + h2o2[c] +...,0,2.0,3A0000304,...,MAOX,R_MAOX,NaN,NaN,MAOX,Tyrosine metabolism,1,True,True,8639.1
4,4,2521,2018-05-31T16:06:56.524774Z,2018-11-29T09:56:33.293877Z,MHISOR,N-Methylhistamine:Oxygen Oxidoreductase (Deami...,h2o[c] + mhista[c] + o2[c] -> 3mldz[c] + h2o2[...,0,4.0,3A0000269,...,MHISOR,R_MHISOR,NaN,NaN,MHISOR,Histidine metabolism,1,True,False,8639.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18300,9,22975,2018-05-31T16:06:56.524774Z,2018-11-26T16:08:50.638572Z,ATVACIDhc,conversion of lactone to acid form of atorvast...,atvlac[c] + h2o[c] -> atvacid[c] + h[c],0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Drug metabolism,1,True,False,5446.1
18301,10,23240,2018-05-31T16:06:56.524774Z,2018-10-29T13:36:13.221718Z,LVSTACIDhep,conversion of pro-durg lovastatin to active hy...,h2o[c] + lvst[c] -> h[c] + lvstacid[c],0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Drug metabolism,1,True,False,5446.1
18302,11,23284,2018-05-31T16:06:56.524774Z,2018-10-29T13:36:21.152837Z,PTVSThc,hydrolysis of latone to free acid form of pita...,2.0 h2o[r] + ptvstlac[r] -> 2.0 h[r] + ptvst[r],0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Drug metabolism,1,True,False,5446.1
18303,12,23298,2018-05-31T16:06:56.524774Z,2018-10-29T13:36:24.570663Z,RSVSPONhc,conversion of lactone to open acid form of ros...,2.0 h2o[c] + rsvlac[c] -> 2.0 h[c] + rsv[c],0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Drug metabolism,1,True,False,5446.1
18304,13,23310,2018-05-31T16:06:56.524774Z,2018-10-29T13:36:27.140427Z,SMVHYDROhep,conversion of simvastatin pro-drug to active form,h2o[c] + smv[c] -> h[c] + smvacid[c],0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,Drug metabolism,1,True,False,5446.1

In [5]:
gene_reactions_small = gene_reactions[['abbreviation', 'searched_gene_number']]

In [6]:
gene_reactions_small

      abbreviation  searched_gene_number
0        13DAMPPOX                8639.1
1        42A12BOOX                8639.1
2          AACTOOR                8639.1
3             MAOX                8639.1
4           MHISOR                8639.1
...            ...                   ...
18300    ATVACIDhc                5446.1
18301  LVSTACIDhep                5446.1
18302      PTVSThc                5446.1
18303    RSVSPONhc                5446.1
18304  SMVHYDROhep                5446.1

[18305 rows x 2 columns]

In [7]:
df_merge = pd.merge(reactions, gene_reactions_small, how="inner", on="abbreviation")
print("Number of matched microbe reactions: " + str(df_merge.abbreviation.count()))

Number of matched microbe reactions: 18305

In [8]:
gene_reactions_small.rename(columns={'abbreviation': 'reaction_abbreviation', 'searched_gene_number': 'gene_number'}, inplace=True)

/Users/Vivian/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [9]:
gene_reactions_small

      reaction_abbreviation  gene_number
0                 13DAMPPOX       8639.1
1                 42A12BOOX       8639.1
2                   AACTOOR       8639.1
3                      MAOX       8639.1
4                    MHISOR       8639.1
...                     ...          ...
18300             ATVACIDhc       5446.1
18301           LVSTACIDhep       5446.1
18302               PTVSThc       5446.1
18303             RSVSPONhc       5446.1
18304           SMVHYDROhep       5446.1

[18305 rows x 2 columns]

In [10]:
reaction_genes_file_path = os.path.join(vmh_folder, "vmh_reactiongenes_all.csv")
reaction_genes = pd.read_csv(reaction_genes_file_path)

In [11]:
reaction_genes

,Unnamed: 0,genes_id,createdDate,updatedDate,abbreviation,symbol,gene_number,chromosome,description,gstart,...,wikipedia,mimAccession,mimDescription,humanProteomeAtlasAB,ucsc,wikigene,goTermAccession,goTermName,goTermDefinition,reaction
0,0,100,2018-05-31T15:49:46.176171Z,2018-11-29T16:05:04.967372Z,MAN2B1,MAN2B1,4125.1,19,"mannosidase, alpha, class 2B, member 1 [Source...",12646511.0,...,Alpha-Mannosidase,609458.0,"MANNOSIDASE, ALPHA, CLASS 2B, MEMBER 1; MAN2B...",HPA041530,uc002mub.2,4125.0,GO:0003674,molecular_function,"""Elemental activities, such as catalysis or bi...",A_MANASEly
1,0,101,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:18.653406Z,NaN,A4GALT,53947.1,22,"alpha 1,4-galactosyltransferase [Source:HGNC S...",42692121.0,...,A4GALT,607922.0,"ALPHA-1,4-GALACTOSYLTRANSFERASE; A4GALT\n;;4-...",HPA001141,NaN,53947.0,GO:0003674,molecular_function,"""Elemental activities, such as catalysis or bi...",A4GALTc
2,0,101,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:18.653406Z,NaN,A4GALT,53947.1,22,"alpha 1,4-galactosyltransferase [Source:HGNC S...",42692121.0,...,A4GALT,607922.0,"ALPHA-1,4-GALACTOSYLTRANSFERASE; A4GALT\n;;4-...",HPA001141,NaN,53947.0,GO:0003674,molecular_function,"""Elemental activities, such as catalysis or bi...",A4GALTg
3,0,102,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:18.917756Z,NaN,A4GNT,51146.1,3,"alpha-1,4-N-acetylglucosaminyltransferase [Sou...",138123718.0,...,NaN,NaN,NaN,HPA008017,uc003ers.2,51146.0,GO:0005575,cellular_component,"""The part of a cell or its extracellular envir...",A4GNT1g
4,0,102,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:18.917756Z,NaN,A4GNT,51146.1,3,"alpha-1,4-N-acetylglucosaminyltransferase [Sou...",138123718.0,...,NaN,NaN,NaN,HPA008017,uc003ers.2,51146.0,GO:0005575,cellular_component,"""The part of a cell or its extracellular envir...",A4GNT2g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8170,1,1270,2018-05-31T15:49:46.176171Z,2018-11-29T16:05:28.430334Z,NaN,MTHFD2L,441024.1,4,methylenetetrahydrofolate dehydrogenase (NADP+...,74114174.0,...,MTHFD2L,614047.0,METHYLENETETRAHYDROFOLATE DEHYDROGENASE 2-LIK...,HPA035434,uc011cbj.2,441024.0,GO:0000105,histidine biosynthetic process,"""The chemical reactions and pathways resulting...",MTHFD2
8171,2,1271,2018-05-31T15:49:46.176171Z,2018-11-29T16:05:28.299810Z,NaN,MTHFD2,10797.1,2,methylenetetrahydrofolate dehydrogenase (NADP+...,74198562.0,...,MTHFD2,604887.0,METHYLENETETRAHYDROFOLATE DEHYDROGENASE 2; MT...,CAB003684,uc002skk.3,10797.0,GO:0006520,cellular amino acid metabolic process,"""The chemical reactions and pathways involving...",MTHFD2
8172,0,246,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:47.811446Z,AHCY,AHCY,191.1,20,adenosylhomocysteinase [Source:HGNC Symbol;Acc...,34280268.0,...,Adenosylhomocysteinase,180960.0,S-ADENOSYLHOMOCYSTEINE HYDROLASE; AHCY\n;;SAHH\n,HPA044675,uc002xai.3,191.0,GO:0008150,biological_process,"""Any process specifically pertinent to the fun...",AHC
8173,1,247,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:47.928878Z,NaN,AHCYL1,10768.2,1,adenosylhomocysteinase-like 1 [Source:HGNC Sym...,109984686.0,...,NaN,607826.0,S-ADENOSYLHOMOCYSTEINE HYDROLASE-LIKE 1; AHCY...,HPA042589,uc001dyx.3,10768.0,GO:0008150,biological_process,"""Any process specifically pertinent to the fun...",AHC
8174,2,248,2018-05-31T15:49:46.176171Z,2018-11-29T16:00:48.027822Z,NaN,AHCYL1,10768.1,1,adenosylhomocysteinase-like 1 [Source:HGNC Sym...,109984686.0,...,NaN,607826.0,S-ADENOSYLHOMOCYSTEINE HYDROLASE-LIKE 1; AHCY...,HPA042589,uc001dyx.3,10768.0,GO:0008150,biological_process,"""Any process specifically pertinent to the fun...",AHC

In [12]:
merged_left = pd.merge(reactions, gene_reactions_small, how="left", left_on="abbreviation", right_on="reaction_abbreviation")
unmatched = merged_left[merged_left.gene_number.isnull()]
print("Number of unmatched reactions in all_reactions: " + str(unmatched.abbreviation.count()))

Number of unmatched reactions in all_reactions: 12906

In [13]:
df_merge2 = pd.merge(reactions, reaction_genes, how="inner", left_on="abbreviation", right_on="reaction")
print("Number of matched reactions: " + str(df_merge2.abbreviation_x.count()))

Number of matched reactions: 8172

In [14]:
df_merge2_small = df_merge2[['abbreviation_x', 'gene_number']]

In [15]:
df_merge2_small

     abbreviation_x  gene_number
0        A_MANASEly       4125.1
1           A4GALTc      53947.1
2           A4GALTg      53947.1
3           A4GNT1g      51146.1
4           A4GNT2g      51146.1
...             ...          ...
8167         MTHFD2     441024.1
8168         MTHFD2      10797.1
8169            AHC        191.1
8170            AHC      10768.2
8171            AHC      10768.1

[8172 rows x 2 columns]

In [16]:
df_merge2_small.rename(columns={'abbreviation_x': 'reaction_abbreviation'}, inplace=True)

/Users/Vivian/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
df_merge2_small

     reaction_abbreviation  gene_number
0               A_MANASEly       4125.1
1                  A4GALTc      53947.1
2                  A4GALTg      53947.1
3                  A4GNT1g      51146.1
4                  A4GNT2g      51146.1
...                    ...          ...
8167                MTHFD2     441024.1
8168                MTHFD2      10797.1
8169                   AHC        191.1
8170                   AHC      10768.2
8171                   AHC      10768.1

[8172 rows x 2 columns]

In [18]:
gene_reactions_small = gene_reactions_small.append(df_merge2_small, ignore_index=True)

In [19]:
gene_reactions_small

      reaction_abbreviation  gene_number
0                 13DAMPPOX       8639.1
1                 42A12BOOX       8639.1
2                   AACTOOR       8639.1
3                      MAOX       8639.1
4                    MHISOR       8639.1
...                     ...          ...
26472                MTHFD2     441024.1
26473                MTHFD2      10797.1
26474                   AHC        191.1
26475                   AHC      10768.2
26476                   AHC      10768.1

[26477 rows x 2 columns]

In [20]:
matched_reactions = pd.DataFrame(gene_reactions_small.reaction_abbreviation.unique())
matched_reactions.columns = ['reaction_abbreviation']

In [21]:
matched_reactions

     reaction_abbreviation
0                13DAMPPOX
1                42A12BOOX
2                  AACTOOR
3                     MAOX
4                   MHISOR
...                    ...
6922             SUBERCACT
6923                DDCAte
6924                BUTt2r
6925         GLYLEUPEPT1tc
6926                 r1667

[6927 rows x 1 columns]

In [22]:
merged_final = pd.merge(reactions, matched_reactions, how="left", left_on="abbreviation", right_on="reaction_abbreviation")
unmatched_final = merged_final[merged_final.reaction_abbreviation.isnull()]
print("Number of unmatched reactions in all_reactions: " + str(unmatched_final.abbreviation.count()))

Number of unmatched reactions in all_reactions: 12386

In [36]:
len(gene_reactions_small)

26477

In [39]:
gene_reactions_small = gene_reactions_small.drop_duplicates(subset=['reaction_abbreviation', 'gene_number'], keep='last')

In [40]:
len(gene_reactions_small)

19129

In [25]:
microbe_gene_reaction_file_path = os.path.join(vmh_folder, "vmh_reaction_to_microbegenes.csv")
microbe_gene_reactions = pd.read_csv(microbe_gene_reaction_file_path)

In [41]:
df_merge3 = pd.merge(reactions, microbe_gene_reactions, how="inner", left_on="abbreviation", right_on='reaction_abbreviation')
print("Number of matched reactions: " + str(df_merge3.abbreviation.count()))

Number of matched reactions: 2244695

In [43]:
df_merge3 = df_merge3[['abbreviation', 'gene_number']]

In [44]:
len(df_merge3)

2244695

In [46]:
df_merge3 = df_merge3.drop_duplicates(subset=['abbreviation', 'gene_number'], keep='last')

In [47]:
len(df_merge3)

2113870

In [49]:
df_merge3.rename(columns={'abbreviation': 'reaction_abbreviation'}, inplace=True)

In [50]:
gene_reactions_small = gene_reactions_small.append(df_merge3, ignore_index=True)

In [51]:
gene_reactions_small[gene_reactions_small[['reaction_abbreviation', 'gene_number']].duplicated() == True]

Empty DataFrame
Columns: [reaction_abbreviation, gene_number]
Index: []

In [70]:
matched_reactions = pd.DataFrame(gene_reactions_small.reaction_abbreviation.unique())
matched_reactions.columns = ['reaction_abbreviation']

In [71]:
merged_final2 = pd.merge(reactions, matched_reactions, how="left", left_on="abbreviation", right_on="reaction_abbreviation")
unmatched_final2 = merged_final2[merged_final2.reaction_abbreviation.isnull()]
print("Number of unmatched reactions in all_reactions: " + str(unmatched_final2.abbreviation.count()))

Number of unmatched reactions in all_reactions: 8760

In [73]:
gene_reactions_small.to_csv(os.path.join(vmh_folder, 'vmh_gene_reactions.csv'))