Nutrition-Disease Knowledge Graph
# FooDB Parsing

In [1]:
import os.path
import pandas as pd

## Food Table

In [ ]:
foodb_folder = "/path/to/downloaded/FooDB/data/"
processed_data_folder = "/path/to/processed/data/folder/"

In [2]:
food = pd.read_csv(os.path.join(foodb_folder, "Food.csv"), dtype={'ncbi_taxonomy_id': 'string', 'itis_id': 'string', 'legacy_id': 'string'})

In [78]:
food = food[['id', 'name', 'name_scientific', 'description', 'food_type', 'ncbi_taxonomy_id', 'public_id']]

In [145]:
food

,id,name,name_scientific,description,food_type,ncbi_taxonomy_id,public_id
0,1,Angelica,Angelica keiskei,Angelica is a genus of about 60 species of tal...,Type 1,357850,FOOD00001
1,2,Savoy cabbage,Brassica oleracea var. sabauda,Savoy cabbage (Brassica oleracea convar. capit...,Type 1,1216010,FOOD00002
2,3,Silver linden,Tilia argentea,Tilia tomentosa (Silver Lime in the UK and Sil...,Type 1,<NA>,FOOD00003
3,4,Kiwi,Actinidia chinensis,"The kiwifruit, often shortened to kiwi in many...",Type 1,3625,FOOD00004
4,5,Allium,Allium,Allium haematochiton is a species of wild onio...,Type 1,4678,FOOD00005
...,...,...,...,...,...,...,...
987,1020,Cape gooseberry,Physalis peruviana,"Physalis peruviana, a plant species of the gen...",Type 1,<NA>,FOOD00988
988,1021,Herbal tea,NaN,Herbal teas are the beverages made from the in...,Type 1,<NA>,FOOD00989
989,1022,Fish oil,NaN,Fish oil is oil derived from the tissues of oi...,Type 1,<NA>,FOOD00990
990,1023,Taco shell,NaN,The hard-shell or crispy taco is a tradition t...,Type 2,<NA>,FOOD00991
991,1024,Tostada shell,NaN,NaN,Type 2,<NA>,FOOD00992

In [10]:
food.to_csv(os.path.join(foodb_folder, 'foods_to_map.csv'), index=False)

## Food Contents
### Process content table

In [130]:
content_table = pd.read_csv(os.path.join(foodb_folder, "Content.csv"), dtype={'source_id': int})

/var/folders/t7/3lkh5kq93tq79dxpjy9vqc_m0000gn/T/ipykernel_16545/3332432119.py:1: DtypeWarning: Columns (4,5,6,7,8,9,13,14,21,22,24) have mixed types. Specify dtype option on import or set low_memory=False.
  content_table = pd.read_csv("/Users/vivy/PycharmProjects/MeNuGUIDE/databases/raw/FooDB/data_download/Content.csv", dtype={'source_id': int})

In [131]:
print(len(content_table))
content_table = content_table[content_table.source_type == 'Compound']
print(len(content_table))

5145532
5007500

In [132]:
print(len(content_table))
content_table = content_table[content_table.citation_type.isin(['DATABASE', 'EXPERIMENTAL', 'ARTICLE', 'TEXTBOOK'])]
print(len(content_table))

5007500
790589

In [133]:
print(len(content_table))
content_table = content_table[content_table.orig_unit.notna()]
print(len(content_table))

790589
719726

In [134]:
print(len(content_table))
content_table = content_table[content_table.orig_content.notna()]
print(len(content_table))

719726
716737

In [135]:
print(len(content_table))
content_table = content_table[content_table.orig_content != 0]
print(len(content_table))

716737
484513

In [136]:
content_table = content_table[['id', 'source_id', 'orig_source_name', 'food_id', 'orig_food_common_name', 'orig_content', 'orig_min', 'orig_max', 'orig_unit', 'orig_citation', 'citation', 'citation_type']]
content_table = content_table.rename(columns={'source_id': 'compound_id', 'orig_food_common_name': 'food_name', 'orig_food_scientific_name': 'food_scientific_name', 'orig_unit': 'unit', 'orig_content': 'content', 'orig_min': 'min_content', 'orig_max': 'max_content', 'orig_citation': 'citation_link', 'orig_source_name': 'compound', })

In [137]:
content_table

,id,compound_id,compound,food_id,food_name,content,min_content,max_content,unit,citation_link,citation,citation_type
116689,128670,3513,Ash,287,Alfalfa seeds,3100.00,NaN,NaN,mg/100g,NaN,DTU,DATABASE
116690,128671,13393,Moisture,287,Alfalfa seeds,7400.00,NaN,NaN,mg/100g,NaN,DTU,DATABASE
116700,128681,8417,Vitamin B1 (as thiamin hydrochloride),287,Alfalfa seeds,1.08,NaN,NaN,mg/100g,NaN,DTU,DATABASE
116701,128682,12163,Vitamin B2 (riboflavin),287,Alfalfa seeds,0.58,NaN,NaN,mg/100g,NaN,DTU,DATABASE
116702,128683,1014,"Niacin, total",287,Alfalfa seeds,1.80,NaN,NaN,NE,NaN,DTU,DATABASE
...,...,...,...,...,...,...,...,...,...,...,...,...
1871138,2320069,125893,NaN,632,"Milk, 3.25% fat",993.00,942.0,1044.0,uM,NaN,30994344,ARTICLE
1871139,2320070,125894,NaN,632,"Milk, 3.25% fat",993.00,942.0,1044.0,uM,NaN,30994344,ARTICLE
1871140,2320071,125895,NaN,632,"Milk, 3.25% fat",993.00,942.0,1044.0,uM,NaN,30994344,ARTICLE
1871141,2320072,125896,NaN,632,"Milk, 3.25% fat",993.00,942.0,1044.0,uM,NaN,30994344,ARTICLE
1871142,2320073,125897,NaN,632,"Milk, 3.25% fat",993.00,942.0,1044.0,uM,NaN,30994344,ARTICLE

### Load compounds table

In [138]:
# Load merged database compounds file
compounds = pd.read_csv(os.path.join(processed_data_folder, "compounds_all_databases_merged_ids.csv"), dtype={'vmh_id': 'string', 'chebi_id': 'string', 'kegg_id': 'string', 'foodb_id': 'string', 'markerdb_id': 'string', 'exposome_explorer_id': 'string'})

In [139]:
compounds_temp = compounds[compounds.foodb_id_internal.notna()][['name', 'foodb_id', 'foodb_id_internal', 'menuguide_id']]
compounds_temp['foodb_id_internal'] = compounds_temp.foodb_id_internal.astype(int)

In [140]:
compounds_temp

,name,foodb_id,foodb_id_internal,menuguide_id
13,cortexolone,FDB021872,22035,compound_14
32,polyethylene glycol,FDB016934,16941,compound_33
33,12-hete,FDB001435,1435,compound_34
34,12(s)-hpete,FDB023348,23511,compound_35
46,propylene glycol,FDB008274,8275,compound_47
...,...,...,...,...
404810,o-arachidonoyl ethanolamine,FDB029625,29788,compound_404811
404812,4-amino-2-methyl-5-phosphomethylpyrimidine,FDB030485,30648,compound_404813
404815,rac-4-hydroxy-4-o-(beta-d-glucuronide)-all-tra...,FDB034577,34837,compound_404816
404817,4-amino-4-deoxychorismate,FDB030486,30649,compound_404818
404822,neuromedin b,FDB029246,29409,compound_404823

### Merge content and compounds to add MeNuGUIDE identifier

In [174]:
content_table_merge = content_table.merge(compounds_temp, left_on='compound_id', right_on='foodb_id_internal', how='inner')

In [175]:
content_table_merge['citation'] = content_table_merge.apply(lambda row: f"{row['citation']}:{row['citation_link']}" if pd.notna(row['citation_link']) else row['citation'], axis=1)
content_table_merge['citation'] = content_table_merge['citation'].apply(lambda x: f"PMID:{x}" if x.isnumeric() else x)

In [177]:
content_table_merge = content_table_merge[['food_id', 'food_name', 'name', 'foodb_id', 'foodb_id_internal', 'menuguide_id', 'content', 'min_content', 'max_content', 'unit', 'citation']]

In [179]:
content_table_merge.to_csv(os.path.join(foodb_folder, 'foodb_metabolite_food_relations.csv'), index=False)